#container {
    width: 70%;
    margin: auto;
    background-color: lightblue;
    display: block;
}

.button {
    width: 120px;
    margin: auto;
}

p {
    font-size: larger;
    font-weight: 800;
}